In [198]:

import pandas as pd
import numpy as np
import csv

In [199]:
#banks_df = pd.read_csv('C:\Users\E178162\Documents\VS Code\banklist.csv')

data = open(r"C:\Users\E178162\Documents\VS Code\Python Tut\banklist.csv")

banks_df = pd.read_csv(data)

banks_df.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534

In [200]:
banks_df.drop(banks_df.columns[[3,4]], axis=1, inplace=True)

banks_df.head()

,Bank Name,City,State,Closing Date,Fund
0,Almena State Bank,Almena,KS,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16-Oct-20,10537
2,The First State Bank,Barboursville,WV,3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,1-Nov-19,10534

In [202]:
banks_df['Year'] = pd.Series([Closed Date])
banks_df.head()

SyntaxError: invalid syntax (2545286031.py, line 1)